/* Declare & load Inter Google Font */
@font-face {
  font-family: Inter;
  src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
  font-weight: 200;
}

/* Declare & load Josefin Slab Google Font */
@font-face {
  font-family: Josefin Slab;
  src: url('../fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf');
  font-weight: 600;
}

.navbar {
  position: absolute;
  width: 1440px;
  height: 123px;
  left: 0px;
  top: 0px;
}

.navdiv {
  position: absolute;
  width: 215px;
  height: 104px;
  left: 31px;
  top: 19px;
  background: #D9D9D9;
  border-radius: 100px/50px;
}

.paperH, .home, .whoWA, .selfcare, .events, .contact, .signup {
  position: absolute;
  text-align: center;
  color: #000000;
  text-decoration-line: none;
}

.paperH {
  width: 169px;
  height: 29px;
  left: 206px;
  top: 51px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.paperH:hover, .home:hover, .whoWA:hover, .selfcare:hover, .events:hover, .contact:hover, .signup:hover {
  text-decoration: line-through;
  text-decoration-line: underline;
}

.home {
  width: 67px;
  height: 29px;
  left: 450px;
  top: 47px;  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.whoWA {
  width: 134px;
  height: 29px;
  left: 552px;
  top: 47px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.selfcare {
  width: 93px;
  height: 29px;
  left: 715px;
  top: 47px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.events {
  width: 77px;
  height: 29px;
  left: 843px;
  top: 47px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.contact {
  width: 128px;
  height: 29px;
  left: 949px;
  top: 47px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.signup {
  width: 187px;
  height: 20px;
  left: 1209px;
  top: 51px;
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;

}

.imagePlaceholderDiv {
  position: absolute;
  width: 1348px;
  height: 442px;
  left: 53px;
  top: 159px;
  background: #D9D9D9;
}

.imagePlaceholder {
  position: absolute;
  width: 1246px;
  height: 361px;
  left: 42px;
  top: 49px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(219, 33, 145, 0.96);
}

.feelingOk {
  position: absolute;
  width: 549px;
  height: 36px;
  left: 445px;
  top: 66px;
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.mentalHconditions {
  position: absolute;
  width: 549px;
  height: 181px;
  left: 390px;
  top: 75px;
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #000000;
}
