/* Declare & load Inter Google Font */
@font-face {
  font-family: Inter;
  src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
  font-weight: 200;
}

/* Declare & load Josefin Slab Google Font */
@font-face {
  font-family: Josefin Slab;
  src: url('../fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf');
  font-weight: 600;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #24262b;
  font-family: 'Inter';
  color: white;
}

.logo{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
  font-weight: 400;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links li {
  list-style-type: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.nav-links a:hover{
  color: palevioletred;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
  transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
  .nav-links {
    width: 60%;
}
}

@media screen and (max-width:768px){
  .nav-links {
    width: 100%;
}
}


@media screen and (max-width:768px){
  body {
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right:0px;
    height: 94vh;
    top: 6vh;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
} 

.nav-active{
  transform: translateX(0%);
}


@keyframes navLinkFade{
  from{
    opacity:0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}


.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}
------------------------------------------------

.carousel-container {
  position: relative;
  margin-top: 250px;
  margin-left: 10%;
  text-decoration: underline;
  color: whitesmoke;
  font-family: Josefin Slab;
  font-weight: 800;
  font-size: 150%;
  text-shadow: #D9D9D9;
  
}

@media screen and (max-width:768px){
  .carousel-container {
    top:95vh;
    position: relative;
  }
}

.makefullscreen{
  position: relative;
  left: 55%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  width: 90vw;
  height: 500px;
  margin-top: 20px;
}

@media screen and (max-width:768px){
  .makefullscreen{
    position: relative;
    left: 55%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    width: 90vw;
    height: 380px;
    margin-top: 10px;
  }
  
}

.bottom_right {
  position: absolute;
  /*background-color: blue;*/
  justify-content: space-around;
  
  right: 100px;
  
  bottom: 300px;
  color: goldenrod;

}

@media (max-width: 768px){
  .bottom_right {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    font-size: 10px;
  }
}

.aboutcontent{
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 60px;
  margin-right: 20PX;

}
@media screen and (max-width: 768px){
  .aboutcontent {
    position: relative;
    top: 95vh;
    display: flex;
    margin: auto;
    
  }
}

.aboutcontent h2{
  background-color: #24262b;
  color: white;
  padding: 5px;
}

@media screen and (max-width:768px) {
  .aboutcontent h2{
    
    background-color: #24262b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.875rem;
    color: white;
    padding: 5px;
    width: 62%;
    
  }
}

h2, h3{
  font-size: 1.875rem;
  margin-bottom: 1.875rem;
}

@media(min-width:64em){
  h2{
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

.container{
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  height: 75vh;
}


@media(min-width: 64em){
  .container{
    max-width: 66.375rem;
    margin-right: 0 auto;
  }
}

.section-heading{
  text-align: center;
  margin-bottom: 1.875rem;

}

@media(min-width: 40em){
  .section-heading{
    text-align: start;
    margin-bottom: 2.8125rem;

  }
}


@media(min-width: 64em){
  .section-heading{
   width: 60%;
  }
}

@media screen and (max-width:768px) {
  .section-heading h2{
    position: relative;
    font-size: 25px;
    margin: auto;
    
  }
}

.articles{
  background: floralwhite;
  padding: 6.25rem 0;
}

@media screen and (max-width:768px){
  .articles{
    background-color: floralwhite;
    padding: 4.25rem 0rem;
   
  
  }
  .articles-grid{
    display: flex;
    
    flex-direction: column;
    
 
    
    grid-template-columns: 1fr;
  }
}

.articles .articles-grid{
  display: flex;
  gap:2.875 rem;
  grid-template-columns: 1fr;
  
}

@media(min-width: 40em){
  .articles .articles-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 64em){
  .articles .articles-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}

.articles .article{
  background: #fff;
  border-radius: .3125rem;
  box-shadow: 0 .1875rem .75rem rgba(0, 0, 0, 15);
  transition: transform .2s ease-in-out;
  overflow: hidden;
  margin-right: 30px;
}

@media screen and (max-width:768px){
  .articles .article{
    background: #fff;
    border-radius: .3125rem;
    box-shadow: 0 .1875rem .75rem rgba(0, 0, 0, 15);
    transition: transform .2s ease-in-out;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 25px;
    
  }
}

.articles .article-image{
  height: 12.5rem;
}

.articles .article-image img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.articles .article:hover{
  transform: scale(1.05);
  cursor:pointer;
}

.articles .article-text{
  padding: 1.875rem 1.5625rem 2.75rem 1.5625rem;
}

@media(min-width: 40em){
  .articles .article-text{
    padding: 1.875rem 1.5625rem 1.5625rem 1.5625rem;
  }
  
}

.articles .article-author span{
  display: block;
  font-size: .75rem;
  margin-bottom: 0.75rem;
}

.articles .artcile-title h3{
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.2;
  transition: color .2s ease-in-out;
}


.articles .article-title h3:hover{
  color: palevioletred;
}

.artciles .article-description p{
  font-size: .8125rem;
  line-height: 1.3;
}

.objectives{
  
  margin-left: 70px;
  margin-right: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
 
  color: black;
  
  
}

.objectives .objectives-title{
  text-align: center;
  font-size: 1rem;
  background-color: #24262b;
  color: white;
}

.objectives .objectives-description{
  font-size: 1.2rem;
  text-align: center;
 
}

@media(min-width: 40em){
  .objectives .objectives-description{
    font-size: 1.125rem;
  }
}

@media screen and (max-width:768px){
  .objectives{
    position: relative;
    top: 96vh;
  }
  .objectives .objectives-description{
    font-size: 1.1rem;
    
    padding-bottom: 10px;
  }
}

footer{
  max-width: auto;
	background-color: #24262b;
  padding: 70px 0;
  margin-top: 10rem;
}

footer ul{
	list-style: none;
}

.footer-container{
	max-width: 1500px;
	margin: 0 auto;
}
.footer-main{
	display: flex;
	flex-wrap: wrap;
  font-family: Inter;
  padding: 0 15%;
}
.footer-col{
  width: 25%;
}

.footer-col h4{
	font-size: 18px;
  font-family: 'Josefin Slab';
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
  font-family: Inter;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col .footer-main{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
  font-family: Inter;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a i{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a i.facebook {
	background-image: url('../images/footer-img/facebook.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.footer-col .social-links a i.facebook:hover{
	background-color: rgb(49, 172, 224);
}
.footer-col .social-links a i.discord {
	background-image: url('../images/footer-img/discord.png');
	background-repeat: no-repeat;
	background-size: contain;

}
.footer-col .social-links a i.discord:hover{
	background-color: rgb(148, 148, 232);
}
.footer-col .social-links a i.linkedin {
	background-image: url('../images//footer-img/linkedin.png');
	background-repeat: no-repeat;
	background-size: contain;

}
.footer-col .social-links a i.linkedin:hover{
	background-color: rgb(49, 172, 224);
}
.footer-col .social-links a i.instagram {
	background-image: url('../images/footer-img/instagram.png');
	background-repeat: no-repeat;
	background-size: contain;

}
.footer-col .social-links a i.instagram:hover{
	background-color: rgb(191, 108, 148);
}
.footer-bottom{
  display: flex;
  flex-direction: column;
}
.footer-bottom a{
  color: #bbbbbb;
  text-decoration: none;
}
.footer-bottom a:hover{
  color:#ffffff;
}
.footer-bottom .contact-centre{
  margin-top: 0.5rem;
}
.footer-bottom .copyright{
  margin-top: 0.5rem;
  color: #bbbbbb;
}
/*responsive*/
@media (max-width: 1200px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media (max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media screen and (max-width: 768px){
  .footer {
    margin-top: 740px;
    width: 100%;
}
}